.article-show {
    background: #639886;
    display: block;
    padding-top: 35px;
    padding-bottom: 50px;
}

.article-content {
    margin-top: 30px;
}

.article-content-title {
    text-align: center;
    font-size: 32px;
    color: #dfdfdf;
    margin-bottom: 25px;
    margin-top: 40px;
}

.article-content-img {
    float: left;
    margin-right: 25px;
    margin-bottom: 10px;
}

.article-content-text {
    text-align: center;
    font-size: 18px;
    color: #3F5057;
}

.article-show-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 3l5px;
}

.link-back {
    border: #3F5057 solid 2px;
    border-radius: 50px;
    padding: 10px 20px;
    color: #3F5057;

    font-size: 24px;
}

.link-back:hover {
    opacity: 0.75;
}

.admin-buttons {
    display: flex;
    column-gap: 30px;
    row-gap: 60px;
    justify-content: flex-end;
}

.admin-button {
    border: #3F5057 solid 2px;
    border-radius: 50px;
    padding: 10px 20px;
    color: #3F5057;

    font-size: 24px;
}

.admin-button:hover {
    opacity: 0.75;
}

@media (max-width: 565px) {
    .article-content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .article-content-title {
        margin-bottom: 1px;
        margin-top: 20px;
    }

    .article-content-img {
        float: none;
        margin: 0px;
    }
}

/* comments */

.comments-section {
    background: #639886;
}

.comments-line {
    width: 100%;
    height: 2px;
    background: #3F5057;
}

/* send comment */

.comment-sent-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.comment-input {
    border: #3F5057 solid 2px;
    border-radius: 25px;
    padding: 10px;
    max-width: 830px;
    height: 180px;
    background: #789992;
    color: #3F5057;
    font-size: 18px;
}

.comment-send-button {
    border: #3F5057 solid 2px;
    border-radius: 50px;
    padding: 12px 24px;
    color: #3F5057;
    background: #789992;
    width: 100px;
    font-size: 20px;
}

.comment-send-button:hover {
    opacity: 0.75;
}

/* read comment */

.comments {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #3F5057;
    margin-top: 35px;
    margin-bottom: 50px;
}

.comment {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: #3F5057 solid 2px;
    border-radius: 25px;
    max-width: 720px;
    padding: 20px;
    background-color: #789992;
}

.comment-user-name {
    text-decoration: underline;
    color: #dfdfdf;
    font-size: 22px;
}

.comment-text {
    font-size: 18px;
}

