.section-admin-panel {
    background: #ADCCCF;
}

.admin-actions {
    margin-top: 50px;
    margin-bottom: 50px;
}

.admin-line {
    height: 2px;
    width: 100%;
    background: #3F5057;
    margin-top: 25px;
    margin-bottom: 25px;
}

.admin-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.admin-nav-title {
    color: #dfdfdf;
    font-size: 28px;
    text-decoration: underline;
}

.admin-nav-link {
    color: #3F5057;
    font-size: 22px;
}

.admin-nav-link:hover {
    opacity: 0.5;
}
